<%= render "layouts/menu" %>

<ol class="breadcrumb">
  <li><%= link_to "Popular Categories" %></li>
</ol>

<div class="container">
<h3>Popular Categories</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Category</th>
      <th>Clue Count</th>
    </tr>
  </thead>
  <tbody>
    <% @list.each do |cat| %>
      <tr>
        <td><%= link_to cat.title.titleize, popular_list_path(cat.id) %></td>
        <td><%= cat.clues_count %></td>

              </tr>
    <% end %>
  </tbody>
</table>
</div>