<% content_for :title do %>
    jService - <%= number_with_delimiter(@count.round) %> trivia questions
<% end %>


<div class="bs-header">
	<div class="container">
		<div class="col-md-6">
			<%= image_tag ("trebek.png") %>
		</div>
		<div class="col-md-6">
			<h1>jService</h1>
			<h2><%= number_with_delimiter(@count.round) %> Trivia Questions</h2>
			
			<p><a href="https://github.com/sottenad/jService" class="btn btn-primary btn-large">View On GitHub</a></p>
		</div>
	</div>
</div>

<div class="container">
	<div class="col-md-7">
		<h3>API Usage</h3>
		<h4><a href="/api/clues?value=100&min_date=1985-02-20">/Clues</a></h4>
		<ul>
			<li>Url: <code>/api/clues</code></li>
			<li>Options <small class="text-warning">All options are optional</small>:
				<ul>
					<li><code>value</code>(int): the value of the clue in dollars</li>
					<li><code>category</code>(int): the id of the category you want to return</li>
					<li><code>min_date</code>(date): earliest date to show, based on original air date</li>
					<li><code>max_date</code>(date): latest date to show, based on original air date</li>
					<li><code>offset</code>(int): offsets the returned clues. Useful in pagination</li>
					<li><code>game_id</code>(int): returns only clues from a single game</li>
				</ul>
		</ul> 
		<h4><a href="/api/random">/Random</a></h4>
		<ul>
			<li>Url: <code>/api/random</code></li>
			<li>Options:
				<ul>
					<li><code>count</code>(int): amount of clues to return, limited to 100 at a time</li>
				</ul>
		</ul>
		<h4><a href="/api/final">/Final</a></h4>
		<p>Presents random final jeopardy question. <em>Note: all final jeopardy questions have null <kbd>value</kbd></em></p>
		<ul>
			<li>Url: <code>/api/final</code></li>
			<li>Options:
				<ul>
					<li><code>count</code>(int): amount of clues to return, limited to 100 at a time</li>
				</ul>
		</ul>
		<h4><a href="/api/categories?count=2">/Categories</a></h4>
		<ul>
			<li>Url: <code>/api/categories</code></li>
			<li>Options:
				<ul>
					<li><code>count</code>(int): amount of categories to return, limited to 100 at a time</li>
					<li><code>offset</code>(int): offsets the starting id of categories returned. Useful in pagination.</li>
				</ul>
		</ul>
		<h4><a href="/api/category?id=150">/Category</a></h4>
		<ul>
			<li>Url: <code>/api/category</code></li>
			<li>Options:
				<ul>
					<li><code>id</code>(int): <span class="text-warning">Required</span> the ID of the category to return.</li>
				</ul>
		</ul>

		
        
		<hr />
		<h3>About</h3>
		<p>This is in large part a project to learn a bit about screen-scraping and creating an easily consumable set of services for public consumption. I will be offering this free of charge, but on a small Heroku instance until sufficient demand exists. <strong>Production use is at your own risk.</strong></p>
		<p><strong>Please note there is now rate limiting on the API. If you need more throughput than what is currently implemented, please <a href="mailto:sottenad@gmail.com">contact me</a> with details of your use case.</strong></p>
		
		
		
		
	</div>
	<div class="col-md-5">
		<div class="panel panel-default" id="quiz-question">
			<div class="panel-heading">
				<h4>Random Question<span class="glyphicon glyphicon-refresh" id='refresh-question'></span></h4>
				
			</div>
			<div class="panel-body">

				<table class="table table-hover table-bordered">
					<tr>
						<td><strong>Difficulty</strong></td>
						<td id="clueValue"></td>
					</tr>
					<tr>
						<td><strong>Category</strong></td>
						<td id="clueCategory"></td>
					</tr>
					<tr>
						<td><strong>Question</strong></td>
						<td id="clueQuestion"></td>
					</tr>
					<tr>
						<td><strong>Answer</strong></td>
						<td id="clueAnswer"></td>
					</tr>
					<tr>
						<td><strong>Air Date</strong></td>
						<td id="clueAirDate"></td>
					</tr>
					<tr>
						<td><strong>ID</strong></td>
						<td id="clueId"></td>
					</tr>


				</table>
				<h5 class="left">Raw Response</h5>
				<pre id="clueRaw" class="raw">

				</pre>
			</div>

		</div>
	</div>	
</div>

<script id="quiz-template" type="text/x-handlebars-template">
	<table class="table table-hover table-bordered">
		<tr>
			<td><strong>Difficulty</strong></td>
			<td>{{value}}</td>
		</tr>
		<tr>
			<td><strong>Category</strong></td>
			<td>{{{category.title}}}</td>
		</tr>
		<tr>
			<td><strong>Question</strong></td>
			<td>{{{question}}}</td>
		</tr>
		<tr>
			<td><strong>Answer</strong></td>
			<td>{{{answer}}}</td>
		</tr>
		<tr>
			<td><strong>Air Date</strong></td>
			<td>{{clean_time airdate}}</td>
		</tr>
        <tr>
			<td><strong>ID</strong></td>
			<td id="clue-id">{{id}}</td>
		</tr>
		<tr>
			<td><strong>Invalid Count <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Sometimes clues rely on images or sounds, mark as invalid to help clean the DB"></span></strong></td>
			<td>
                <div class="row">
                    <div class="col-sm-6">
                        <span id="invalid-count">
                        {{#if invalid_count}}
                            {{invalid_count}}
                        {{else}}
                            0
                        {{/if}}
                        </span>
                    </div>
                    <div class="col-sm-6">
                        <small><a href="#" class="pull-right" id="mark-invalid">Mark Invalid</a></small>
                    </div>
            </td>
		</tr>

	</table>
	<h5 class="left">Raw Response</h5>
	<div class="raw">
		<pre>{{json .}}</pre>
	</div>
</script>

